<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">TMDB App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= watchlist_path %>">Latest Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= watchlist_path %>">My Watchlist</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="#">Hi <%= current_user.first_name %>!</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">Sign in</a>
          </li>
        <% end %>
        <%= form_tag search_path, method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder: "Search for movies...", class: "form-control" %>
          <%= submit_tag "Search", class: "btn btn-outline-dark" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>